<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.map.mapper.GPSMapper">

    <select id="getTemp" resultType="com.test.map.vo.tempVO">
        SELECT * FROM "temp"
    </select>
    
    <insert id="insertTemp">
	    INSERT INTO public.temp(
		lon, lat)
		VALUES (#{lon},#{lat})
	</insert>
	
	<delete id="deleteTemp">
	delete from "temp"
	</delete>
	
	<insert id="insertLocal">
	    INSERT INTO public.local(
		lon, lat)
		VALUES (#{lon},#{lat})
	</insert>
	
	
    
</mapper>